<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.vlstream.mapper.VlsAnnotationLabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vlsAnnotationLabelResultMap" type="org.springblade.vlstream.pojo.entity.AnnotationLabel">
        <result column="annotation_id" property="annotationId"/>
        <result column="name" property="name"/>
        <result column="color" property="color"/>
        <result column="description" property="description"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="usage_count" property="usageCount"/>
    </resultMap>

    <select id="selectVlsAnnotationLabelPage" resultMap="vlsAnnotationLabelResultMap">
        select * from vls_annotation_label where is_deleted = 0 order by create_time desc
    </select>

    <select id="exportVlsAnnotationLabel" resultType="org.springblade.vlstream.excel.VlsAnnotationLabelExcel">
        SELECT * FROM vls_annotation_label ${ew.customSqlSegment}
    </select>

</mapper>
