<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.vlstream.mapper.VlsAlgorithmRepositoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vlsAlgorithmRepositoryResultMap" type="org.springblade.vlstream.pojo.entity.AlgorithmRepository">
        <result column="name" property="name"/>
        <result column="algorithm_count" property="algorithmCount"/>
        <result column="repository_type" property="repositoryType"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="selectVlsAlgorithmRepositoryPage" resultMap="vlsAlgorithmRepositoryResultMap">
        select * from vls_algorithm_repository where is_deleted = 0 order by create_time desc
    </select>

    <select id="exportVlsAlgorithmRepository" resultType="org.springblade.vlstream.excel.VlsAlgorithmRepositoryExcel">
        SELECT * FROM vls_algorithm_repository ${ew.customSqlSegment}
    </select>

</mapper>
