<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.vlstream.mapper.VlsAnnotationInstanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vlsAnnotationInstanceResultMap" type="org.springblade.vlstream.pojo.entity.AnnotationInstance">
        <result column="annotation_id" property="annotationId"/>
        <result column="label_id" property="labelId"/>
        <result column="image_id" property="imageId"/>
        <result column="annotation_type" property="annotationType"/>
        <result column="annotation_data" property="annotationData"/>
        <result column="confidence" property="confidence"/>
        <result column="verified" property="verified"/>
    </resultMap>

    <select id="selectVlsAnnotationInstancePage" resultMap="vlsAnnotationInstanceResultMap">
        select * from vls_annotation_instance where is_deleted = 0 order by create_time desc
    </select>

    <select id="exportVlsAnnotationInstance" resultType="org.springblade.vlstream.excel.VlsAnnotationInstanceExcel">
        SELECT * FROM vls_annotation_instance ${ew.customSqlSegment}
    </select>

</mapper>
