<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.vlstream.mapper.VlsAnnotationImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vlsAnnotationImageResultMap" type="org.springblade.vlstream.pojo.entity.AnnotationImage">
        <result column="annotation_Id" property="annotationId"/>
        <result column="image_name" property="imageName"/>
        <result column="original_name" property="originalName"/>
        <result column="local_path" property="localPath"/>
        <result column="file_size" property="fileSize"/>
        <result column="last_modified" property="lastModified"/>
        <result column="is_imported" property="isImported"/>
        <result column="import_time" property="importTime"/>
    </resultMap>

    <select id="selectVlsAnnotationImagePage" resultMap="vlsAnnotationImageResultMap">
        select * from vls_annotation_image where is_deleted = 0 order by create_time desc
    </select>

    <select id="exportVlsAnnotationImage" resultType="org.springblade.vlstream.excel.VlsAnnotationImageExcel">
        SELECT * FROM vls_annotation_image ${ew.customSqlSegment}
    </select>

</mapper>
