<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.vlstream.mapper.VlsDeviceTagRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vlsDeviceTagRelationResultMap" type="org.springblade.vlstream.pojo.entity.DeviceTagRelation">
        <result column="device_id" property="deviceId"/>
        <result column="tag_id" property="tagId"/>
    </resultMap>

    <select id="selectVlsDeviceTagRelationPage" resultMap="vlsDeviceTagRelationResultMap">
        select * from vls_device_tag_relation where is_deleted = 0 order by create_time desc
    </select>

    <select id="exportVlsDeviceTagRelation" resultType="org.springblade.vlstream.excel.VlsDeviceTagRelationExcel">
        SELECT * FROM vls_device_tag_relation ${ew.customSqlSegment}
    </select>

</mapper>
